@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&display=swap');


*{
    margin: 0;
}

.top{
    /* background-image: url(./images/video-bg_page4.png) ; */
    background-position: no-repeat;
    background-size: cover;
    height: 100vh;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-right: 2px;
    background-color: rgba(179, 180, 180, 0.3);
    font-family: "Nunito", sans-serif;
    padding: 20px 40px;
    position: fixed;
    top: 0px;
    width: 95%;
    padding: 20px 40px;
    align-items: center;
}
.items{
    display: flex;
    gap: 20px;
}

.items a{
    color: white;
    text-decoration: none;
}

.items a:hover{
    color: blueviolet;
}
.logo{
    color: white;
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
}

.toback{
    display: flex;
    justify-content: center;
    row-gap: 0;
    color: white;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 13rem;
}
.bgvid{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 90%;
    object-fit: cover;

}

#small{
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 0;
    color: white;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
}
.mission{
    position: relative;
    color: black;
    text-align: center;
    top: 0px;
    margin-top: 0px;
    font-size: 20px;
    margin: 2rem;
    font-family: "Nunito", sans-serif;

}



.key{
    text-align: center;
    background-color: rgba(194, 198, 202, 0.397);
    font-family: "Nunito", sans-serif;
    padding: 2rem;

}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    font-family: "Nunito", sans-serif;
    margin: 40px;
}
.hr{
    border: none;
    height: 2px;
    background-color: rgb(213, 59, 215);
    width: 90%;
    margin: 20px;
    align-items: center;
}

#hr2{
    border: none;
    height: 3px;
    background-color: rgb(213, 59, 215);
    width: 90%;
    margin: auto;

}

.apply{
    display: block;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    row-gap: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.5rem;
    margin: 30px;
}
#now{
    border: none;
    border-radius: 40px;
    background-color: #FF5672;
    padding: 10px 30px;
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 20px;
    margin: 20px;
    width: 195px;
    font-weight: bolder;
    cursor: pointer;

}

#hr3{
    border: none;
    height: 3px;
    background-color: rgb(213, 59, 215);
    width: 90%;
    margin: auto;

}

.query{
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;

}

.footimg{
    display: flex;
    /* grid-template-columns: auto auto auto; */
    justify-content: left;
    align-items: center;
    column-gap: 30px;
    padding-right: 10px;
    margin-left: 28rem;

}

.red{
    border: none;
    background-color: #FF5672;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    font-family: "Nunito", sans-serif;
    margin-top: 10vh;
    margin-left: 93vh;
    cursor: pointer;
}

#vid{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 30px;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    margin-top: 5vh;
    margin-left: 92vh;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

}

#aplay{
    text-decoration: none;
}

.chat{
    padding: 15px 30px;
    color: white;
    display: flex;
    justify-content: left;
    background-color: #FF5672;
    border: none;
    margin-left: 93%;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 50%;
    border-top-right-radius: 4px;
    position: fixed;
    bottom: 0px;
    cursor: pointer;
}

#footer{
    color: white;
    background: linear-gradient(to right, rgb(232, 81, 225),rgb(239, 64, 87));
    padding: 15px;
    text-align: center;
    margin-top: 2rem;

}


